<ion-header>
  <ion-navbar>
     <ion-item>
        <span id="hi" >Welcome! </span><span id="name">{{name}}</span> 
        <span id="hi" > Your, </span>
     </ion-item>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item *ngIf="(89<ovarrallMatchPersentage)&&(ovarrallMatchPersentage<=130)">
     <img [src]="imageUrl" class="pinch-zoom-image FitShirtimage" absolute-drag>
     <ion-item class="avgBody">
        <img src="assets/imgs/avarageBody.JPG">
     </ion-item>
  </ion-item>
  <ion-item *ngIf="(ovarrallMatchPersentage>0)&&(ovarrallMatchPersentage<90)">
     <img [src]="imageUrl" class="pinch-zoom-image LooseShirtimage" absolute-drag>
     <ion-item class="thinBody">
        <img src="assets/imgs/thinBody.JPG">
     </ion-item>
  </ion-item>
  <ion-item *ngIf="130<ovarrallMatchPersentage">
     <img [src]="imageUrl" class="pinch-zoom-image TightShirtimage" absolute-drag>
     <ion-item class="fatBody">
        <img src="assets/imgs/fatBody.JPG">
     </ion-item>
  </ion-item>
  <ion-item *ngIf="ovarrallMatchPersentage==0">
     <h2>PLEASE ENTER RIGHT USER DETAILS</h2>
  </ion-item>
  <ion-item *ngIf="ovarrallMatchPersentage=='INFINITY'">
     <h2>PLEASE USE VALID QR CODE</h2>
  </ion-item>
  <ion-item>
     Waist Matching with chosen Dress:
     <!-- <span id='waistP' class='pulse' [ngStyle]="{'color': color }">{{waistMatchPersentage}}%</span> -->
     <div class="progress-outer">
        <div class="progress-inner" [style.width]="waistMatchPersentage+ '%'">
           {{waistMatchPersentage}}%
        </div>
     </div>
  </ion-item>
  <ion-item>
     Chest Matching with chosen Dress:
     <!-- <span id='chestP' class='pulse' [ngStyle]="{'color': color }">{{chestMatchPersentage}}%</span> -->
     <div class="progress-outer">
        <div class="progress-inner" [style.width]="chestMatchPersentage+ '%'">
           {{chestMatchPersentage}}%
        </div>
     </div>
  </ion-item>
  <ion-item class="overall  pulse">
     OVERALL MATCHING
     <br>
     <span id='OvrP' [ngStyle]="{'color': color }">{{results}}</span>
  </ion-item>
</ion-content>